<html>
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="main.js"></script>
	<style>
    body {
      background-color: #264159;
    }
  </style>
</head>
<body style="padding: 25">	

  <h1 class="text-center display-1" style="color: white;">Sign In</h1>

	<form class='text-center' id='nameForm' action="/login_results" method="POST">
		<div class='form-uname'>
			<label style="color: white;" id='nameLable' for='nameField'>Enter username:</label>
			<input style="color: black;" name='username' type='text' maxlength='25'>
		</div>
		<div class='form-uname'>
			<label style="color: white;" id='nameLable' for='nameField'>Enter Password:</label>
			<input style="color: black;" name='password' type='text' maxlength='25'>
		</div>
    <div class='form-uname'>
			<label style="color: white;" id='nameLable' for='nameField'>Classroom Code:</label>
			<input style="color: black;" name='classroom' type='text' maxlength='25'>
    </div>
		<div class='form-sub'>
			<!-- <button id='subButton' type='button'>Submit</button> -->
			<input style="color: black;" type="submit" value="Submit" />
		</div>
	</form>

</body>
</html>