<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
    <meta name="viewport" content="width=device-width">
		<script src="https://nosir.github.io/obelisk.js/dist/obelisk.min.1.0.2.js"></script>
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
		<canvas id="canvas"></canvas>


<script>
function setup() {
	var canvas = document.getElementById("canvas")
	var ctx = canvas.getContext("2d")
	canvas.width = window.innerWidth
	canvas.height = window.innerHeight
	var arr = []
	var Xsize = 22
	var Ysize = 22
	var cubeSize = 20
	var multiplier = 0.1
		var point = new obelisk.Point3D((Xsize) * cubeSize + (cubeSize), 500, 1000)
	var pixelView = new obelisk.PixelView(canvas, point);
	function applyNoise() {
		let yoff = 1
		for (let x = 1; x < Xsize - 1; x++) {
			arr[x] = []
			let xoff = 1
			for (let y = 1; y < Ysize - 1; y++) {
				var r = noise(xoff, yoff) * 100
				arr[x][y] = []
				arr[x][y][Math.round((r / 100) * 10)] = {
					type1: "green",
				}
				xoff += multiplier
			}
			yoff += multiplier
		}
	}
	function placeShadow(posx,posy,posz) {
		let color1 = new obelisk.SideColor(0x1e1500, 0x1e1500)
		let dimension1 = new obelisk.SideYDimension(50, 50);
		var p3DY = new obelisk.Point3D(posx*cubeSize, posy*cubeSize, posz*cubeSize);
		pixelView.renderObject(dimension1, p3DY);
	}
	function shadowsx(x,y,z) {
		if (x+1 < Xsize) {
			if (arr[x+1] !== undefined) {
				if (arr[x+1][y] !== undefined) {
					if (arr[x+1][y][z] === undefined) {
						shadowsx(x+1,y,z)
					} else {
						shadowsSpecialX(x+1,z)
						if (y+1 < Ysize) {
						shadowsy(x,y+1,z)
						}
					}
				}
			}
		}
	}
	function shadowsSpecialX(x,z) {
		for (let y1 = 1;y1<Ysize;y1++) {
			if (arr[x][y1][z] !== undefined) {
				placeShadow(x,y1+1,z)
			}
		}
	}
	function shadowsy(x,y,z) {
		if (y+1 < Ysize) {
		if (arr[x][y+1][z] === undefined) {
				shadowsy(x,y+1,z)
			} else {
				if (x+1 < Xsize) {
					shadowsx(x+1,z)
				}
				shadowsSpecialY(x,y+1,z)
			}
		}
	}
	function shadowsSpecialY(x,z) {
		for (let x1 = 1;x1<Xsize;x1++) {
			if (arr[x1][y][z] !== undefined) {
				placeShadow(x1+1,y,z)
			}
		}
	}
	function DoAllShadows() {
		for (let i = 5;i<10;i++) {
			shadowsx(2,2,i)
		}
	}
	applyNoise()

	function draw() {
		for (var x = 1; x < Xsize - 1; x++) {
			for (var y = 1; y < Ysize - 1; y++) {
				for (var z = 0; z < 10; z++) {
					if (arr[x][y][z] !== undefined) {
						if (arr[x][y][z].type1 === "green") {
							var point = new obelisk.Point3D(x * cubeSize, y * cubeSize, (10-z));
							var dimension = new obelisk.CubeDimension(cubeSize, cubeSize, cubeSize*(10-z));
							var color = new obelisk.CubeColor(0xccffcc, 0x996633, 0x996633, 0x996633, 0x4dff4d);
							var cube = new obelisk.Cube(dimension, color);
							pixelView.renderObject(cube, point);
						}
					}
				}
			}
		}
	}
	
	draw()
	DoAllShadows()
}
</script>

  </body>
</html>