<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sign Up Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="main.css" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<style>
    body {
      background-color: #264159;
    }
  </style>
</head>

<body class="text-center" style="padding: 25; color: white;">
	<h1 class="text-center display-1">Sign Up</h1><br>

	<!-- <form method="get" action="url">
		<h4>Username:</h4><input type="text" name="user" size="25"/> <br>
		<h4>Password:</h4><input type="password" name="pw" size="25"/>
		<input type="hidden" name="action" value="login"/><br>
		<input type="submit" value="SEND" class = "submit"><br>
	</form> -->

	<form class='text-center' id='nameForm' action="/signup_results" method="POST">
		<div class='form-uname'>
			<label id='nameLable' for='nameField' style="color: white;">Create a username:</label>
			<input name='username' type='text' maxlength='25' style="color: black;">
		</div>
		<div class='form-uname'>
			<label id='nameLable' for='nameField' style="color: white;">Create a Password:</label>
			<input name='password' type='text' maxlength='25' style="color: black;">
		</div>
		<div class='form-uname'>
			<label id='nameLable' for='nameField' style="color: white;">Confirm Password:</label>
			<input name='passwordConfirm' type='text' maxlength='25' style="color: black;">
		<div class='form-uname'>
			<label id='nameLable' for='nameField' style="color: white;">Classroom Code:</label>
			<input name='classroom' type='text' maxlength='25' style="color: black;">
    
    </div>
		<div class='form-sub' style="color: black;">
			<!-- <button id='subButton' type='button'>Submit</button> -->
			<input type="submit" value="Submit" />
		</div>
	</form>

</body>

</html>