<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
		<canvas id="canvas"></canvas>
    <script>
			let canvas = document.getElementById("canvas")
let ctx = canvas.getContext("2d")
ctx.setTransform(1, 0, 0, 1, 0, 0)
canvas.width = 3000
canvas.height = window.innerHeight

let solarSystem = {
	Sun: {
		X:(canvas.width/2),
		Y:canvas.height/2,
		Diameter: 400
	},
	Planets: {
		Mecury: {
			X:(300*Math.cos(0))+canvas.width/2,
			Y: (300*Math.sin(0))+canvas.height/2,
			angle:0,
			Diameter: 3,
			speed:0.003
		},
		Venus: {
			X:(400*Math.cos(0))+canvas.width/2,
			Y: (400*Math.sin(0))+canvas.height/2,
			angle:0,
			Diameter: 8,
			speed: 0.004
		},
		Earth: {
			X:(500*Math.cos(0))+canvas.width/2,
			Y:(500*Math.sin(0))+canvas.height/2,
			angle:0,
			Diameter:8,
			speed: 5
		},
		Mars: {
			X:(600*Math.cos(0))+canvas.width/2,
			Y: (600*Math.sin(0))+canvas.height/2,
			angle:0,
			Diameter: 4,
			speed: 6
		},
		Jupiter: {
			X: (700*Math.cos(0))+canvas.width/2,
			Y: (700*Math.sin(0))+canvas.height/2,
			angle:0,
			Diameter: 95,
			speed: 7
		},
		Saturn: {
			X:(800*Math.cos(0))+canvas.width/2,
			Y:  (800*Math.sin(0))+canvas.height/2,
			angle:0,
			Diameter: 80,
			speed: 8
		},
		Uranus: {
			X:(900*Math.cos(0))+canvas.width/2,
			Y: (900*Math.sin(0))+canvas.height/2,
			angle:0,
			Diameter: 35,
			speed: 9
		},
		Neptune: {
			X:(1000*Math.cos(0))+canvas.width/2,
			Y: (1000*Math.sin(0))+canvas.height/2,
			angle:0,
			Diameter: 32,
			speed: 10
		}
	}
}
function circle(x,y,d,color) {
	ctx.beginPath()
	ctx.arc(x,y,d/2,0,2*Math.PI);
	ctx.fillStyle = color
	ctx.fill()
}

function move() {
	solarSystem.Planets.Mecury.X = (300*Math.cos(solarSystem.Planets.Mecury.angle))+canvas.width/2
	solarSystem.Planets.Venus.X = (400*Math.cos(solarSystem.Planets.Mecury.angle))+canvas.width/2
	solarSystem.Planets.Earth.X = (500*Math.cos(solarSystem.Planets.Mecury.angle))+canvas.width/2
	solarSystem.Planets.Mars.X = (600*Math.cos(solarSystem.Planets.Mecury.angle))+canvas.width/2
	solarSystem.Planets.Jupiter.X = (700*Math.cos(solarSystem.Planets.Mecury.angle))+canvas.width/2
	solarSystem.Planets.Saturn.X = (800*Math.cos(solarSystem.Planets.Mecury.angle))+canvas.width/2
	solarSystem.Planets.Uranus.X = (900*Math.cos(solarSystem.Planets.Mecury.angle))+canvas.width/2
	solarSystem.Planets.Neptune.X = (1000*Math.cos(solarSystem.Planets.Mecury.angle))+canvas.width/2


	solarSystem.Planets.Mecury.angle += solarSystem.Planets.Mecury.speed
	if (solarSystem.Planets.Mecury.angle >= Math.radians(360)) {
		solarSystem.Planets.Mecury.angle = Math.radians(0)
	}
	solarSystem.Planets.Venus.angle += solarSystem.Planets.Venus.speed
	if (solarSystem.Planets.Venus.angle >= Math.radians(360)) {
		solarSystem.Planets.Venus.angle = Math.radians(0)
	}
}
Math.radians = function(degrees) {
  return degrees * Math.PI / 180;
};
function Draw() {
	ctx.fillStyle = "black"
	ctx.fillRect(0, 0, canvas.width, canvas.height);
	if(solarSystem.Planets.Mecury.angle >= Math.radians(180)) {
	circle(solarSystem.Sun.X,solarSystem.Sun.Y,solarSystem.Sun.Diameter,"yellow")
	circle(solarSystem.Planets.Mecury.X,solarSystem.Planets.Mecury.Y,solarSystem.Planets.Mecury.Diameter,"rgb(211, 202, 175)")
	circle(solarSystem.Planets.Venus.X,solarSystem.Planets.Venus.Y,solarSystem.Planets.Venus.Diameter,"rgb(244, 238, 225)")
	circle(solarSystem.Planets.Earth.X,solarSystem.Planets.Earth.Y,solarSystem.Planets.Earth.Diameter,"rgb(19, 173, 13)")
	circle(solarSystem.Planets.Mars.X,solarSystem.Planets.Mars.Y,solarSystem.Planets.Mars.Diameter,"rgb(169, 42, 10)")
	circle(solarSystem.Planets.Jupiter.X,solarSystem.Planets.Jupiter.Y,solarSystem.Planets.Jupiter.Diameter,"rgb(170, 72, 11)")
	circle(solarSystem.Planets.Saturn.X,solarSystem.Planets.Saturn.Y,solarSystem.Planets.Saturn.Diameter,"rgb(114, 107, 10)")
	circle(solarSystem.Planets.Uranus.X,solarSystem.Planets.Uranus.Y,solarSystem.Planets.Uranus.Diameter,"rgb(140, 211, 216)")
	circle(solarSystem.Planets.Neptune.X,solarSystem.Planets.Neptune.Y,solarSystem.Planets.Neptune.Diameter,"rgb(3, 79, 178)")
	} else {
	circle(solarSystem.Planets.Neptune.X,solarSystem.Planets.Neptune.Y,solarSystem.Planets.Neptune.Diameter,"rgb(3, 79, 178)")
	circle(solarSystem.Planets.Uranus.X,solarSystem.Planets.Uranus.Y,solarSystem.Planets.Uranus.Diameter,"rgb(140, 211, 216)")
	circle(solarSystem.Planets.Saturn.X,solarSystem.Planets.Saturn.Y,solarSystem.Planets.Saturn.Diameter,"rgb(114, 107, 10)")
	circle(solarSystem.Planets.Jupiter.X,solarSystem.Planets.Jupiter.Y,solarSystem.Planets.Jupiter.Diameter,"rgb(170, 72, 11)")
	circle(solarSystem.Planets.Mars.X,solarSystem.Planets.Mars.Y,solarSystem.Planets.Mars.Diameter,"rgb(169, 42, 10)")
	circle(solarSystem.Planets.Earth.X,solarSystem.Planets.Earth.Y,solarSystem.Planets.Earth.Diameter,"rgb(19, 173, 13)")
	circle(solarSystem.Planets.Venus.X,solarSystem.Planets.Venus.Y,solarSystem.Planets.Venus.Diameter,"rgb(244, 238, 225)")
	circle(solarSystem.Planets.Mecury.X,solarSystem.Planets.Mecury.Y,solarSystem.Planets.Mecury.Diameter,"rgb(211, 202, 175)")
	circle(solarSystem.Sun.X,solarSystem.Sun.Y,solarSystem.Sun.Diameter,"yellow")
	}
	move()
	window.requestAnimationFrame(Draw)
}
Draw()
		</script>
  </body>
</html>